@mixin background-clr-all {
    background-color: #2B2B2B;
}

@mixin background-purple-color {
   background-color: #A259FF;
}

@mixin card-color {
   color: #3B3B3B;

}

@mixin whiteColor {
    color: white;
}

@mixin placeCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}